// Shared definitions for all keyboards in this repo

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20   // default: 10
#include <dt-bindings/zmk/pointing.h>
